/* Login Module CSS */


#login-module {
	padding: 0;
	margin: 10px 0 5px 0;
	min-height: 250px;
	text-align: center;
}

#login-module .main {
}

#login-module .error {
	text-align: center;
	color: red;
	font-weight: bold;
	margin-right:12%;
	width: 100%;
}


#login-module #login-form {
	width: 30%;
	text-align: center;
	position: relative;
	float: left;
	margin-left: 34%;
	margin-top: 1%;
	padding: 10px 0 10px 0;
}

#login-module .header-title {
	font-size: 900%;
	margin: 0;
	padding: 0;
	color: #bbb;
}