/* Main CSS File */
/**
 * @Type     Template
 * @Author   Masoud Pour Zahmatkesh
 * @Website  http://www.masoud-pourzahmatkesh.com
 * @Name     MPZ Framework Build 3.0.0
 * @Date     May 2013
 */


body {
	margin:0 ;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
	font-size: 12px;
	direction: ltr;
	line-height: 1.5;
	background-color: #eeeeee;
}

body #bd { 
}

.main {
	width: 1003px;
	margin: 0 auto;
	padding: 0;
}

a { 
	color: #6c6c6c; 
	text-decoration: none; 
	font-weight:normal;
}

a:hover, a:active, a:focus { 
	color: #fff;  
	cursor: pointer;
	color:#000000;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#header {
	background-repeat:repeat-x;	
	height: 100px;
}

#header .main {
	background-color: transparent; 
	padding: 10px 0 0 0;
	position: relative;
	background-position: left top;
}

#footer {
	padding: 0; 
	margin: 0;
}

#footer .main { 
	background-color: transparent; 
	direction = rtl;
	text-align: center; 
	color: #656667;
}

.copyright {
	text-align: center;
	color: #bbb;
}

.copyright a { 
	color: #e0e0e0; 
	text-decoration: none; 
	font-weight:normal; 
}

#footer a:hover,#footer a:active,#footer a:focus { 
	color: #fff;	
}

.error {
	text-align: center;
	color: red;
	font-weight: bold;
}



/* Custom Message Box */
div.msgBox {
    padding: 4px 10px 4px 10px;
    position: fixed;
    z-index: 1000;
    font-family:Verdana;
    width: 430px;
    min-height:160px;
    color: #00335e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
}

div.msgBoxBackGround {
    top:0;
    left:0;
    position:absolute;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.9;
    z-index:999;
}

div.msgBoxTitle {
    padding:5px 0 5px 0;
    font-variant:small-caps;
    font-size:16pt;
    font-weight:lighter;
    color:#00335e;
    width:100%;
    border-bottom : 1px solid #002c5f;
}

div.msgBoxImage {
    margin:20px 5px 0 5px;
    display:inline-block;
    float:left;
    height:75px;
    width:75px;
}

div.msgBoxImage img {
    height:75px;
    width:75px;
}

div.msgBoxContent {
    font-size:11pt;
    margin:0 3px 6px 3px;
    display:inline-block;
    float:left;
    height:90px;
    width:319px;
}

div.msgBoxContent p {
    padding:0;
    margin:0;
    display: table;
    height: 100%;
    width: 100%;
}

div.msgBoxContent span {
    display: table-cell;
    vertical-align: middle;
    color: #00335e;
}

div.msgBoxButtons {
    display:inline-block;
    width:100%;
    text-align:right;
}

div.msgBoxButtons input[type='button'] {
    cursor:pointer;
    margin:2px;
    height:35px;
    width:90px;
    border:1px solid #AFAFAF;
    background-color:#004076;
    color:#FFFFFF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

div.msgBoxButtons input[type='button']:hover {
    background-color:#00549c;
    color:White;
}

div.msgBoxButtons input[type='button']:active {
    background-color:#AAAAAA;
    color:White;
}

div.msgBoxInputs {
    margin:0 auto;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    width:195px;
}

